---
layout: default
renderData:
  title: About TCCC
---

<h2>About</h2>
<p>
  Twin Cities Code Camp is Minnesota's largest free developer event. Each year,
  hundreds of Minnesota's best and brightest developers converge to speak,
  listen, and learn from one another. We're non-profit, the event is totally
  free, and as unpaid volunteers, we do it for the love of technology and the
  software craft. We hope you enjoy our event. Twin Cities Code Camp follows the
  guidelines published in the Code Camp manifesto. We expect our attendees to
  adhere to our code of conduct policy. As this is a community-driven event, we
  are always looking for people to lead sessions, volunteer to help during the
  day of the event, etc. If you'd like to participate, or if you'd like to
  contribute to the event, let us know.
</p>

<h2>Follow us</h2>
<ul>
  <li><a href="//twitter.com/tccodecamp">@tccodecamp</a></li>
  <li>
    <a href="http://www.facebook.com/group.php?gid=7828067259"
      >TCCC on Facebook</a
    >
  </li>
  <li>
    <a href="https://www.youtube.com/user/TwinCitiesCodeCamp"
      >TCCC on YouTube</a
    >
  </li>
  <li><a href="mailto:tccodecamp@gmail.com">tccodecamp@gmail.com</a></li>
</ul>

<h2>Meet the team</h2>

<div class="media mb-5 mt-5">
  <span class="speaker-image-wrapper-small"
    ><img
      src="/assets/images/jason-bock.jpg"
      class="mr-3"
      alt="Jason Bock"
    />
  </span>
  <div class="media-body">
    <h5 class="mt-0 mb-1">Jason Bock</h5>
    <p>
      Jason Bock is a Practice Lead for <a href="//magenic.com">Magenic</a> and
      a Microsoft MVP (C#). He has 20 years of experience working on a number of
      business applications using a diverse set of frameworks and languages such
      as C#, .NET, and JavaScript. He is the author of "Metaprogramming in
      .NET", "Applied .NET Attributes", and "CIL Programming: Under the Hood of
      .NET". He has written numerous articles on software development issues and
      has presented at a number of conferences and user groups. He is a leader
      of Twin Cities Code Camp. Jason holds a Master's degree in Electrical
      Engineering from Marquette University.
    </p>
    <p>
      <a href="//twitter.com/jasonbock"
        ><i class="fa fa-twitter" style="color: #00aced"></i> @jasonbock</a
      ><br />
      <a href="//jasonbock.net">jasonbock.net</a>
    </p>
  </div>
</div>

<div class="media mb-5">
  <span class="speaker-image-wrapper-small"
    ><img
      src="/assets/images/mikeh.jpg"
      class="mr-3"
      alt="Mike Hodnick"
    />
  </span>
  <div class="media-body">
    <h5 class="mt-0 mb-1">Mike Hodnick</h5>
    <p>
      Mike is a music-maker and programmer living in Chaska, MN, USA. He
      composes and performs live music using written computer code, drum
      machines, and synthesizers. Mike works as an independent software
      developer, focusing on full stack web-based projects involving front-end
      web browser frameworks and back end technologies such as node.js and .NET
      Core.
    </p>
    <p>
      <a href="//twitter.com/kindohm"
        ><i class="fa fa-twitter" style="color: #00aced"></i> @kindohm</a
      ><br />
      <a href="//kindohm.com">kindohm.com</a>
    </p>
  </div>
</div>

<div class="media mb-5">
  <span class="speaker-image-wrapper-small"
    ><img
      src="/assets/images/sheila.jpg"
      class="mr-3"
      alt="Sheila Dennis"
    />
  </span>
  <div class="media-body">
    <h5 class="mt-0 mb-1">Sheila Dennis</h5>
    <p>
      Software developer.
    </p>
    <p>
      <a href="//twitter.com/sheiladennis"
        ><i class="fa fa-twitter" style="color: #00aced"></i> @sheiladennis</a
      >
    </p>
  </div>
</div>

<div class="media mb-5">
  <span class="speaker-image-wrapper-small"
    ><img
      src="/assets/images/andy.jpg"
      class="mr-3"
      alt="Andy Pickett"
    />
  </span>
  <div class="media-body">
    <h5 class="mt-0 mb-1">Andy Pickett</h5>
    <p>
      Reinstated TCCC leadership alumnus.
    </p>
  </div>
</div>
