---
layout: default
pagination:
  data: allEvents
  size: 1
  alias: event
permalink: 'events/{{event.eventId}}/index.html'
---

<h1>{{ event.seasonYear }}, {{ event.dateTime | date: "%a, %b %d, %Y" }}</h1>

<hr/>

{% include talk-list, talkList: event.talks %}