---
layout: default
renderData:
  title: Code of Conduct
---

<h2>Code of Conduct</h2>

Twin Cities Code Camp is dedicated to providing a harassment-free conference experience for everyone regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including session content. Conference participants violating these rules may be sanctioned or expelled from the conference at the discretion of the conference organizers.

Harassment includes offensive verbal comments related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of sessions or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately.

If a participant engages in harassing behavior, conference organizers may take any action deemed appropriate, including warning the offender or expulsion from the conference. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately.

We expect participants to follow these rules for the duration of the event.

To speak directly with conference staff regarding harassment while onsite at TCCC, please contact the leadership team at tccodecamp@gmail.com or tweet us at @tccodecamp.

<h2>Prize giveaways</h2>

At the end of every event, a prize drawing usually takes places to give away a number of gifts, generously donated by the sponsors. To be eligible for the drawing, an attendee must register at the event before 11:45 AM (registering at EventBrite is not sufficient). The attendee must also be physically present at the drawing to claim their prize if they are chosen. The source code that drives the prize selections is available upon request. Prizes are "as-is" and it is not the responsibility of the members of TCCC to handle warranties, defective software, etc.

The leadership team reserves the right to change the policies as needed.