---
layout: default
renderData:
  title: Schedule
---

{% if currentEvent == null %}
  {% include no-event %}
{% else %}

    <!--
      <p class="lead">Interested in giving a talk at the next event?
      <a href="https://sessionize.com/twin-cities-code-camp-24/">Submit your talk</a>.</p>
    -->

    <p>Schedule preview:</p>
    <img src="/assets/images/tccc24-schedule-preview.png" alt="tccc24 schedule"></img>


  {% include talk-list, talkList: currentEvent.talks %}
{% endif %}