---
layout: default
renderData:
  title: Schedule
---

{% if currentEvent == null %}
  {% include no-event %}
  {% else %}

  <!--
  <p class="lead">Interested in giving a talk at the next event?
  <a href="https://sessionize.com/twin-cities-code-camp-24/">Submit your talk</a>.</p>
  --><h2>Schedule</h2>

  <div class="schedule-large-screen">
    {% include schedule-table, schedule: currentSchedule %}
  </div>

  <div class="schedule-small-screen">
    {% include schedule-mobile, schedule: currentSchedule %}
  </div>
{% endif %}