{% assign speakers = site.speakers | where:"event",site.currentEvent | reverse %} {%
assign talks = site.talks | where: "event",site.currentEvent %} {% assign tags =
site.talks | map: 'tags' | join: ',' | split: ',' | uniq %}

<div class="card-group">
  <div class="card border-0">
    <div class="icon-circle bg-primary-tccc"><i class="fa fa-star"></i></div>
    <div class="card-body">
      <h5 class="card-title text-center">{{ speakers | size }} Speakers</h5>
      <p class="card-text">
        {% for speaker in speakers %}
        <img src="{{ speaker.image }}" class="m-0" style="width: 60px" />
        {% endfor %}
      </p>
    </div>
  </div>
  <div class="card border-0">
    <div class="icon-circle bg-info-tccc"><i class="fa fa-tags"></i></div>
    <div class="card-body">
      <h5 class="card-title text-center">Topics</h5>
      <p class="card-text text-center">
        {% for tag in tags limit:20 %}
        <span class="tag">
          <i class="fa fa-tag" style="font-size: 15px"></i> {{ tag }}
        </span>
        {% endfor %}
      </p>
    </div>
  </div>
  <div class="card border-0">
    <div class="icon-circle bg-success-tccc">
      <i class="fa fa-thumbs-up"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">{{ talks | size }} Talks</h5>
      <p class="card-text">
        <ul class="list-unstyled">
          {% assign shuffledTalks = talks | shuffle %}
        {% for talk in shuffledTalks limit:6 %}
        {% assign speaker = site.speakers | where: "event",site.currentEvent | where:
        "speakerId",talk.speaker | first %}
        
          <li>
            <div class="media position-relative mb-3 p-1 stat-talk">
              <span class="speaker-image-wrapper-stats">
                {% if speaker.image != null %}
                <img src="{{ speaker.image }}" alt="{{ speaker.name }}" />
                {% else %}
                <img
                src="{{ '/assets/images/unknown-speaker.jpg' | relative_url }}"
                alt="{{ speaker.name }}"
                />
                {% endif %}
              </span>
              <div class="media-body"> 
                <a href="{{ talk.url | relative_url}}" class="stretched-link">{{ talk.title }}</a>
              </div>
            </div>
          </li>

        {% endfor %}
      </ul>
    </p>
    </div>
  </div>
</div>
