<div class="card-group">
  <div class="card border-0">
    <div class="icon-circle bg-primary-tccc"><i class="fa fa-star"></i></div>
    <div class="card-body">
      <h5 class="card-title text-center">Speakers</h5>
      <p class="card-text">Speaker content...</p>
    </div>
  </div>
  <div class="card border-0">
    <div class="icon-circle bg-info-tccc"><i class="fa fa-tags"></i></div>
    <div class="card-body">
      <h5 class="card-title text-center">Topics</h5>
      <p class="card-text">Topics content...</p>
    </div>
  </div>
  <div class="card border-0">
    <div class="icon-circle bg-success-tccc">
      <i class="fa fa-thumbs-up"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Talks</h5>
      <p class="card-text">Talks content...</p>
    </div>
  </div>
</div>
