---
layout: default
---

{{ content }}

<div class="event-talks">
  <ul class="list-unstyled">
    {% for talk in site.talks %} {% if talk.event == page.event %} {% assign
    speaker = site.speakers | where: "speakerId",talk.speakerId | where:
    "event",page.event | first %}

    <li class="media mb-5 talk-unit">
      <span class="speaker-image-wrapper">
        {% if speaker.image != null %}
        <img
          src="{{ speaker.image | relative_url }}"
          alt="{{ speaker.name }}"
        />
        {% else %}
        <img
          src="{{ '/assets/images/unknown-speaker.jpg' | relative_url }}"
          alt="{{ speaker.name }}"
        />
        {% endif %}
      </span>
      <div class="media-body">
        <h2 class="mt-0">
          <a href="{{ talk.url | relative_url }}">{{ talk.title }}</a>
        </h2>
        <h5>
          by {{ speaker.name }} {% if speaker.twitter != null%}
          <a href="//twitter.com/{{ speaker.twitter}}"
            ><i class="fa fa-twitter" style="color: #00aced"></i></a
          >{% endif %} {% if speaker.github != null%}
          <a href="//github.com/{{ speaker.github}}"
            ><i class="fa fa-github" style="color: #000"></i></a
          >{% endif %}
        </h5>
        {{ talk.content }}
      </div>
    </li>
    {% endif %} {% endfor %}
  </ul>
</div>
