---
layout: default
---

{% assign speaker = site.speakers | where: "event",page.event | where:
"speakerId",page.speakerId | first%}

<div class="media">
  <span class="speaker-image-wrapper">
    {% if speaker.image != null %}
    <img src="{{ speaker.image }}" alt="{{ speaker.name }}" />
    {% else %}
    <img
      src="{{ '/assets/images/unknown-speaker.jpg' | relative_url }}"
      alt="{{ speaker.name }}"
    />
    {% endif %}
  </span>
  <div class="media-body">
    <h2 class="mt-0">
      {{ page.title }}
    </h2>
    <h6>
      {% for tag in page.tags %}
      <span class="tag"> <i class="fa fa-tag"></i> {{ tag }} </span>
      {% endfor %}
    </h6>
    <h5>
      by {{ speaker.name }} {% if speaker.twitter != null%}
      <a href="//twitter.com/{{ speaker.twitter}}"
        ><i class="fa fa-twitter" style="color: #00aced"></i></a
      >{% endif %} {% if speaker.github != null%}
      <a href="//github.com/{{ speaker.github}}"
        ><i class="fa fa-github" style="color: #000"></i></a
      >{% endif %}
    </h5>

    {% if page.room != null and page.title != null %}
    <p>
      <strong>Room:</strong> {{ page.room }}<br />
      <strong>Time:</strong> {{ page.time }}
    </p>
    {%endif %}

    <div>
      {{ content }}
    </div>

    <hr />

    <h5>About the Author</h5>
    <p>{{ speaker.content}}</p>
  </div>
</div>
